<!--
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark my-5">
                <div class="card-body">
                    <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
                    <ul class="text-center list-inline py-3">
                        <li class="list-inline-item">
                            <a routerLink="/users" class="btn btn-info">List Users</a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/adduser" class="btn btn-info">Add User</a>
                        </li>
                    </ul>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->

<div class="card bg-deepWarmGrey rounded-bottom-2 shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2 col-4">
                <li class="list-inline-item">
                    <a routerLink="/home"><img class="img-fluid" src="/assets/logo.png" alt="logo" ></a>
                </li>
            </div>
            <div class="col-lg-10 col-8 align-self-center text-end text-nowrap">
                <li class="list-inline-item">
                    <a routerLink="/garages" class="btn btn-outline-custom-blue shadow">Garages</a>
                </li>
                <li class="list-inline-item">
                    <a routerLink="/cars" class="btn btn-outline-custom-blue shadow">Voitures</a>
                </li>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="align-bottom card bg-heavyBlack py-4 mt-auto">
    <div class="container text-white">
        GMS &copy; 2024, All Rights Reserved
    </div>
</div>
